@use "navbar/index" as navbar;



body {
    margin: 0;
    padding: 0;


    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows:
        var(#{navbar.$cssvar}height)
        min-content
        min-content
        ;
    grid-template-areas:
        "navbar"
        "body"
        "footer"
        ;
}