@use "~@nodestrap/typography/src/index"     as typo;
@use "~@nodestrap/breakpoints/src/index"    as breakpoint;
@use "navbar/index"                         as navbar;
@use "container/index"                      as container;



section.hero {
    background : var(#{typo.$cssvar}backg);
    color      : var(#{typo.$cssvar}color);
    min-height : calc(100vh - var(#{navbar.$cssvar}height));

    padding    : var(#{container.$cssvar}padding-y) var(#{container.$cssvar}padding-x);



    display: grid;
    grid-template-columns: 100fr;
    grid-template-rows:
        min-content  // title
        auto         // ilus
        min-content  // cert
        min-content; // action
    grid-template-areas:
        "title"
        "ilus"
        "cert"
        "action";
    row-gap: var(#{container.$cssvar}padding-y);
    @include breakpoint.media-up(tablet) {
        grid-template-columns: 50fr 50fr;
        grid-template-rows:
            auto         // title
            min-content  // action
            min-content; // cert
        grid-template-areas:
            "title   ilus"
            "action  ilus"
            "cert    ilus";
        column-gap: 70px;
    }
    @include breakpoint.media-up(desktop) {
        grid-template-columns: 60fr 40fr;
        column-gap: 180px;
    }


    .title {
        grid-area: title;

        justify-self: stretch;
        align-self: stretch;
    }
    .ilus {
        grid-area: ilus;

        justify-self: stretch;
        align-self: stretch;
    }
    .cert {
        grid-area: cert;

        justify-self: start;
        align-self: end;

        width: 256px;
        @include breakpoint.media-up(tablet) {
            width: 262px;
        }
    }
    .action {
        grid-area: action;

        justify-self: stretch;
        @include breakpoint.media-up(tablet) {
            justify-self: start;
        }
        align-self: center;

        min-width: 330px;
        min-height: 60px;
    }
}